body {
    background-image: url(./3d-bowl-of-ramen_23-2150645573.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px; 
}
form {
    background-color: #9708ef81;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto; 
}
fieldset {
    border: 7px solid #ccc; 
    border-radius: 5px;
    margin-bottom: 20px; 
    padding: 10px;
}
legend {
    font-weight: bold;
}
label {
    display: block;
    margin-bottom: 10px;
}
button {
    background-color: #007bff; 
    color: rgb(255, 255, 255); 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px; 
}
button:hover {
    background-color: #0056b3; 
}